
<section class="home">
    <img src="../../assets/Untitled.jpg" >
    
    <div class="homecontent">
  <div class="bk">
    <div class="container">
    <div class="a">
    <button type="button" class="btn btn-primary active" [routerLink]="['/createteam']"><b>Create team</b></button>
  
  </div>
    <br>
    <div class="b">
    <button type="button" class="btn btn-primary active" [routerLink]="['/createplayer']"><b>Create Player</b></button>
    </div><br>
    <div class="c">
    <button type="button" class="btn btn-primary active" [routerLink]="['/showteam']"><b>Show Team</b></button>
    </div><br>
  
  
    <div class="d">
    <button type="button" class="btn btn-primary active" [routerLink]="['/showplayer']"><b>Show Player</b></button>
  </div>
  
  </div>
    </div>
    </div>
    </section>
  
